
h1{
    text-align:center;
    border: solid;
    width: 50%;
}
h2{
    text-align:left;
}
h3{
    text-align: right;
}
h4{
    text-align: center;
}
p{
    text-align: justify;
}
h5{
    text-align: start;
}
h6{
    text-align: end;
}