h1{
    text-align: center;
}
#container{
    height: 300px;
    width: 80%;
    border: 2px solid black;
    margin: 10px auto;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: center;

    /*align items works along cross axis */
    /* try flex-direction: ;row,column,row-reverse,column-reverse */
    /* try justify-content: ; flex-start,flex-end,center,space-between,space-around,space-evenly */
     /* try flex-wrap: ; nowrap,wrap,wrap-reverse */
     /* try align-items:  ; flex-start,flex-end,center */
    



}
#container div{
    height: 100px;
    width: 50px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
