
        h1{
            color: red;background-color: skyblue;
        }
         h2{
            color: green;background-color:yellow;
        }
         h3{
            color:blue;background-color: orange ;
        } 
        p{
            color: aqua;
        }